


td {
    text-align: center;
}

td.dia {
    border-top-width: 5px;
    border-right-width: 1em;
    border-bottom-width: thick;
    border-left-width: thin;
    border-top-color: #723737;
    border-right-color: rgb(0, 255, 213);
    border-bottom-color: #360a70;
  border-left-color: #CCC;
}

td {
    color: black
}

td.horas {
    background-color: rgb(255, 0, 234);
    color: forestgreen;
    border-top-width: 5px;
    border-right-width: 1em;
    border-bottom-width: thick;
    border-left-width: thin;
    border-top-color: #CC0000;
  border-right-color: blue;
  border-bottom-color: #00FF00;
  border-left-color: #CCC;
}
td.Serveisenxarxa {
    background-color: cyan;
    color: firebrick;
    border-top-width: 10px;
    border-right-width: 1em;
    border-bottom-width: 0pt;
    border-left-width: 0vh;
    border-top-color: #0ad82c;
  border-right-color: rgb(238, 14, 14);
  border-bottom-color: #bbff00;
  border-left-color: #CCC;
}
td.Aplicacionsweb {
    background-color: green;
    color: greenyellow;
    border-top-width: 10px;
    border-right-width: 1em;
    border-bottom-width: 0pt;
    border-left-width: 0vh;
    border-top-color: #0ad82c;
  border-right-color: rgb(14, 223, 238);
  border-bottom-color: #3cff00;
  border-left-color: rgb(172, 19, 19);
}
td.Empresaiiniciativa
{background-color: maroon;
    color: ivory;
    border-top-width: 10px;
    border-right-width: 1em;
    border-bottom-width: 0pt;
    border-left-width: 0vh;
    border-top-color: #abd80a;
  border-right-color: rgb(14, 55, 238);
  border-bottom-color: #ff8800;
  border-left-color: rgb(187, 15, 202);
}
td.Seguretatinformàtica
{
    background-color: blue;
    color: rgb(7, 28, 39);
    border-top-width: 10px;
    border-right-width: 1em;
    border-bottom-width: 0pt;
    border-left-width: 0vh;
    border-top-color: #d80a0a;
  border-right-color: rgb(238, 14, 14);
  border-bottom-color: #00ff4c;
  border-left-color: rgb(204, 204, 204);
}
td.Sistemesoperatius
{
    background-color: coral;
    color: orangered;
    border-top-width: 10px;
    border-right-width: 1em;
    border-bottom-width: 0pt;
    border-left-width: 0vh;
    border-top-color: #0ad82c;
  border-right-color: rgb(238, 14, 14);
  border-bottom-color: #bbff00;
  border-left-color: #CCC;
}
td.horari {
    background-color: grey;
    color: turquoise;
    border-top-width: 10px;
    border-right-width: 1em;
    border-bottom-width: 0pt;
    border-left-width: 0vh;
    border-top-color: #a80ad8;
  border-right-color: rgb(238, 14, 14);
  border-bottom-color: #bbff00;
  border-left-color: rgb(194, 245, 12);
}
td.Horari2 {
    background-color: chocolate;
    color: mediumseagreen;
    border-top-width: 10px;
    border-right-width: 1em;
    border-bottom-width: 0pt;
    border-left-width: 0vh;
    border-top-color: #0ad82c;
  border-right-color: rgb(124, 80, 80);
  border-bottom-color: #4c630f;
  border-left-color: rgb(88, 30, 30);
}
td.pati {
    background-color: deeppink;
    color: purple;
    border-top-width: 10px;
    border-right-width: 1em;
    border-bottom-width: 0pt;
    border-left-width: 0vh;
    border-top-color: #166861;
  border-right-color: rgb(101, 110, 14);
  border-bottom-color: #c70808;
  border-left-color: rgb(82, 14, 70);
}