table{
    width: 80%;
    height: 500px;
}
td{
    border: 2px solid black;
}

td.top{
    border-top: 0px;
    border-left: 0px;
    color: white;     
}
td.dreta{
    border-top: 0px;
    border-left: 0px;
    color: white;
}
td.left{
    border-top: 0px;
    border-left: 0px;
    color: white;
    border-bottom: 0px;
}
#right{
   border-right: 0px;
}
td.border{
    border: 2px solid black;
    color: white;
    border-left: white;
    border-top: white;
}